@font-face {
    font-family: Roboto;
    src: url('Vazir-Medium-FD-WOL.woff');
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url('Vazir-Bold-FD-WOL.woff');
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url('Vazir-Black-FD-WOL.woff');
    font-weight: 900;
}
@font-face {
    font-family: Roboto;
    src: url('Vazir-Medium-FD-WOL.woff');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('Vazir-Light-FD-WOL.woff');
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url('Vazir-Thin-FD-WOL.woff');
    font-weight: 100;
}
