<template>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>فرم ورود</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    :rules="phoneValidators"
                    dir="ltr"
                    v-model="phone"
                    prepend-icon="phone"
                    name="login"
                    label="شماره موبایل"
                    validate-on-blur
                    type="tel">
                  </v-text-field>
                  <v-text-field
                    :rules="passwordValidators"
                    v-model="password"
                    id="password"
                    prepend-icon="lock"
                    name="password"
                    label="رمز عبور"
                    validate-on-blur
                    type="password">
                  </v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn :loading="loading" color="primary" @click="login">ورود</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
</template>

<script>
import http from '../http'
export default {
  data: () => ({
    loading: false,
    phone: '',
    password: '',
    phoneValidators: [
      function required (value) {
        if (value.trim() === '') {
          return 'وارد کردن موبایل ضروری است'
        }
        return false
      },
      function isPhone (phone) {
        if (/^\+989\d{9}$/.test(phone) || /^09\d{9}$/.test(phone)) {
          return false
        } else {
          return 'شماره موبایل معتبر نیست'
        }
      }
    ],
    passwordValidators: [function (value) {
      if (value.trim() === '') {
        return 'وارد کردن رمز عبور ضروری است'
      }
      return false
    }]
  }),
  methods: {
    login () {
      if ([
        this.phoneValidators[0](this.phone),
        this.phoneValidators[1](this.phone),
        this.passwordValidators[0](this.password)
      ].some(result => typeof result === 'string')) {
        return
      }

      if (/^09\d{9}$/.test(this.phone)) {
        this.phone = '+98' + this.phone.slice(1)
      }

      this.loading = true

      http.post('auth/loginPassword', {
        phone: this.phone,
        password: this.password
      })
        .then(result => {
          window.localStorage.setItem('token', result.data.token)
          window.localStorage.setItem('refreshToken', result.data.refreshToken)
          window.localStorage.setItem('user', JSON.stringify(result.data.userInfo))
          this.$root.alert('به نگاه خوش آمدید')
          this.$router.push('/')
        })
        .catch(this.$root.httpCatcher)
        .finally(() => {
          this.loading = false
        })
    }
  }
}
</script>
