<template>
    <v-list two-line>
        <v-subheader>لیست فیلم‌ها</v-subheader>

        <template v-for="(scene, index) in scenes">

            <v-divider
                v-if="scene.divider"
                :key="index"
                :inset="scene.inset"
            ></v-divider>

            <v-list-tile
                v-else
                :key="scene._id"
                avatar
                @click="$router.push('/scene/' + scene._id)"
            >
                <v-list-tile-avatar>
                <img :src="scene.film.poster">
                </v-list-tile-avatar>

                <v-list-tile-content>
                    <v-list-tile-title v-html="scene.film.title"></v-list-tile-title>
                    <v-list-tile-sub-title>{{scene.hall.title}} ({{scene.start.toLocaleString('fa-IR')}})</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-btn icon ripple @click.stop="$router.push('/tickets/' + scene._id)">
                    <v-icon color="primary">book</v-icon>
                  </v-btn>
                </v-list-tile-action>

            </v-list-tile>
        </template>
    </v-list>
</template>

<script>
import http from '../http'

export default {
  name: 'scenes',
  data: () => ({
    scenes: []
  }),
  mounted () {
    http.get('negah/scene')
      .then(result => {
        result.data.forEach(scene => scene.start = new Date(scene.start))
        this.scenes = result.data
      })
      .catch(this.$root.httpCatcher)
  }
}
</script>
