<template>
    <div>
        <header v-if="scene" class="scene__header">
            <h2>{{scene.film.title}}</h2>
            <h3>{{scene.hall.title}} ({{scene.start.toLocaleString('fa-IR')}})</h3>
        </header>
        <div class="scene__main">
            <v-form>
                <div class="scene__input mb-2">
                    <v-text-field
                        v-model="studentId"
                        label="شماره بلیت"
                        type="tel"
                        dir="ltr"
                        solo
                        hide-details
                    ></v-text-field>
                </div>
                <div class="scene__button-wrapper">
                    <v-btn :loading="loading" @click="useTicket" color="accent" large>ابطال</v-btn>
                </div>
            </v-form>
        </div>
        <v-btn @click="scan({timeout: false})" class="scan-button" color="primay" large fixed fab round>اسکن</v-btn>
        <v-dialog
            v-model="dialog"
        >
            <div class="scene__dialog-wrapper pa-3">
                <v-icon v-if="isOk" size="72" color="success" class="scene__icon mt-1 mb-2">done</v-icon>
                <v-icon v-if="!isOk" size="72" color="error" class="scene__icon mt-1 mb-2">block</v-icon>
                <p class="scene__count" v-if="isOk">{{ticket.count}} نفر</p>
                <p class="scene__subtitle" v-if="isOk">{{ticket.placeNumber}} - {{ticket.studentId}}</p>
                <p class="scene__subtitle" v-if="!isOk">{{ticket}}</p>
                <v-btn @click="dialog = false" color="primary" large>بستن</v-btn>
            </div>
        </v-dialog>
        <audio :src="$root.baseUrl + (isOk ? 'ok' : 'error') + '.mp3'" ref="audio"></audio>
    </div>
</template>

<script>
import Vue from 'vue'
import http from '../http'
import { setTimeout } from 'timers';

export default {
  name: 'scene',
  data: () => ({
    studentId: '',
    ticket: null,
    dialog: false,
    scene: null,
    isOk: false,
    loading: false
  }),
  methods: {
    useTicket () {
      if (window.isNaN(this.studentId)) {
        this.isOk = false
        this.dialog = true
        this.ticket = 'شماره دانشجویی نامعتبر است'
        return
      }

      this.loading = true
      http.post('negah/ticket/use', {
        studentId: this.studentId,
        scene: this.$route.params.sceneId
      })
        .then(result => {
          this.isOk = true
          this.dialog = true
          this.ticket = result.data
          this.studentId = ''
        })
        .catch(err => {
          this.isOk = false
          this.dialog = true
          try {
            this.ticket = err.response.data.message
          } catch (e) {
            this.ticket = err.message
          }
          console.log(err)
        })
        .finally(() => {
          this.loading = false
          Vue.nextTick(() => {
            this.$refs.audio.play()
          })
        })
    },
    parseQRCode (code) {
      var normalNumber = parseInt(String(code), 9).toString()
      var decoded = {
        place: +normalNumber.slice(-4),
        count: +normalNumber.slice(-7, -4),
        studentId: normalNumber.slice(0, normalNumber.length - 7)
      }
      return decoded
    },
    scan ({timeout = false} = {}) {
      window.QRScanner.scan((err, code) => {
        if (timeout) {
          setTimeout(scan, 1500)
        }

        if (err) {
          alert(err.message)
          return
        }

        let decoded = this.parseQRCode(code)
        this.studentId = decoded.studentId
        this.useTicket()
      })
    }
  },
  mounted () {
    http.get('negah/scene/' + this.$route.params.sceneId)
      .then(result => {
        result.data.start = new Date(result.data.start)
        this.scene = result.data
        this.$root.currentScene = this.scene
      })
      .catch(this.$root.httpCatcher)

      window.QRScanner.show(status => {
        this.scan()
      })
  },
  beforeRouteLeave (to, from, next) {
    next()
    window.QRScanner.destroy(status => {})
  }

}
</script>

<style>
    .scene__header {
        text-align: center;
        padding: .8em;
        background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.88) 40%, rgba(255, 255, 255, 0.88) 60%, transparent);
    }

    .scene__input {
        margin: 0 2em;
    }

    .scene__button-wrapper {
        text-align: center;
    }

    .scene__dialog-wrapper {
        background: white;
        text-align: center;
    }

    .scene__count {
        font-size: 2.5em;
        font-weight: bold;
    }

    .scene__subtitle {
        font-size: 1.5em;
    }

    .scan-button {
      /* position: fixed !important; */
      bottom: 10px;
      right: 50%;
      transform: translateX(50%);
      text-shadow: 0 0 10px white;
    }
</style>
