<template>
    <div>
        <header v-if="scene" class="tickets__header">
            <h2>{{scene.film.title}}</h2>
            <h3>{{scene.hall.title}} ({{scene.start.toLocaleString('fa-IR')}})</h3>
        </header>
        <div class="tickets__main">
            <v-list two-line>
                <v-subheader>لیست بلیت‌ها</v-subheader>
                <template v-for="(ticket, index) in tickets">

                    <!-- <v-divider
                        v-if="scene.divider"
                        :key="index"
                        :inset="scene.inset"
                    ></v-divider> -->

                    <v-list-tile
                        :key="ticket.studentId"
                        @click=""
                    >
                        <!-- <v-list-tile-avatar>
                        <img :src="ticket.avatar">
                        </v-list-tile-avatar> -->

                        <v-list-tile-content>
                            <v-list-tile-title>{{ticket.studentId}}</v-list-tile-title>
                            <v-list-tile-sub-title>تعداد: {{ticket.count}}
                                <template v-if="ticket.placeNumber >= 0">
                                    ، <template v-if="ticket.count > 1">از</template> صندلی: {{ticket.placeNumber}}
                                </template>
                            </v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                          <v-icon v-if="ticket.status === 'pending'" color="grey">alarm</v-icon>
                          <v-icon v-if="ticket.status === 'active'" color="green">done</v-icon>
                          <v-icon v-if="ticket.status === 'deactive'" color="red">done_all</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                </template>
            </v-list>
        </div>
    </div>
</template>

<script>
import http from '../http'

export default {
  name: 'tickets',
  data: () => ({
    scene: null,
    tickets: []
  }),
  mounted () {
    http.get('negah/scene/' + this.$route.params.sceneId)
      .then(result => {
        result.data.start = new Date(result.data.start)
        this.scene = result.data
        this.$root.currentScene = this.scene
      })
      .catch(this.$root.httpCatcher)

    http.get(`negah/ticket/get/all/${this.$route.params.sceneId}`)
      .then(result => {
        this.tickets = result.data
      })
      .catch(this.$root.httpCatcher)
  }

}
</script>

<style>
    .tickets__header {
        text-align: center;
        padding: .8em;
    }

</style>
