<template>
  <v-app id="inspire" :style="scanMode && 'background: transparent'">
    <!--<v-navigation-drawer
      v-model="drawer"
      right
      absolute
      temporary
    >

      <v-list class="pt-0" dense>
        <v-divider></v-divider>

        <v-list-tile
          v-for="item in drawerItems"
          :key="item.title"
          @click="$router.push(item.path)"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>-->

    <v-toolbar color="primary" prominent dark>
      <v-toolbar-side-icon @click.stop="scan"></v-toolbar-side-icon>
      <v-toolbar-title>نگاه</v-toolbar-title>
    </v-toolbar>
    <router-view></router-view>
    <v-snackbar
      v-model="$root.snackbar.show"
    >
      {{$root.snackbar.text}}
      <v-btn flat color="primary" @click.native="$root.snackbar.show = false">بستن</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    drawer: false,
  }),
  methods: {
    scan() {
      //
    }
  },
  computed: {
    drawerItems () {
      return [
        { title: 'انتخاب فیلم', icon: 'movie', path: '/scenes' },
        { title: 'ابطال بلیت', icon: 'vpn_key', path: '/scene/' + this.$root.currentScene._id },
        { title: 'لیست بلیت‌ها', icon: 'library_books', path: '/tickets/' + this.$root.currentScene._id }
      ]
    },
    scanMode () {
      return this.$route.name == 'scene'
    }
  }
}
</script>
